<%= form_with model: @listing, local: true do |form| %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :region %>
  <%= form.text_field :region %>
</div>

<div>
  <%= form.label :vintage %>
  <%= form.text_field :vintage %>
</div>

<div>
  <%= form.label :notes %>
  <%= form.text_area :notes %>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div>
  <%= form.label :alcohol %>
  <%= form.text_field :alcohol %>
</div>

<div>
  <%= form.label :size %>
  <%= form.text_field :size %>
</div>

<div>
  <%= form.label :price %>
  <%= form.text_field :price %>
</div>

<div>
  <%= form.collection_select(:grape_id, Grape.all, :id, :grape_type) %>
</div>

<div>
  <%= form.collection_select(:wine_type_id, WineType.all, :id, :variety) %>
</div>

<div>
  <%= form.label :picture %>
  <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
</div>

<div>
  <%= form.submit %>
</div>

<% end %>



