<h1>Show<h1>

<div class="show-image">
  <%= image_tag image_for(@listing), alt: "#{Listing.name} image"%>
</div>

<p><%= @listing.name %>
<p><%= @listing.region %>
<p><%= @listing.vintage%>
<p><%= @listing.grapes[1] %>
<p><%= @listing.notes %>
<p><%= @listing.description %>
<p><%= @listing.alcohol %>
<p><%= @listing.size %>
<p><%= @listing.price %>


<div>
  <%= link_to 'Edit, baby', edit_listing_path(@listing) %>
</div>

<div>
  <%= link_to 'Back, baby', listings_path %>
</div>

<div>
  <%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Really want to delete #{@listing.name}?"} %>
</div>

