<h1>your <%= "#{@listing.name}" %><h1>



  <%= image_tag picture_for(@listing), alt: "#{@listing.name} image"%>


  <p><%= @listing.name %></p>
  <p><%= @listing.region %></p>
  <p><%= @listing.vintage%></p>
  <p><%= @listing.notes %></p>
  <p><%= @listing.description %></p>
  <p><%= @listing.alcohol %></p>
  <p><%= @listing.size %></p>
  <p><%= @listing.price%></p>
  <p><%= @listing.wine_type.variety %></p>
  <p><%= @listing.grapes.map{|g| g.grape_type}.join(", ") %></p>





<div class="show-edit-delete">
   <% if can? :edit, @listing %>
     <%= link_to "Edit", edit_listing_path(@listing.id) %>
     <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <% end %>
  <%= link_to "Back", listings_path %>
 </div>



