<h1>Show<h1>



  <%= image_tag picture_for(@listing), alt: "#{@listing.name} image"%>


  <p><%= @listing.name %>
  <p><%= @listing.region %>
  <p><%= @listing.vintage%>
  <p><%= @listing.notes %>
  <p><%= @listing.description %>
  <p><%= @listing.alcohol %>
  <p><%= @listing.size %>
  <p><%= @listing.price%>
  <p><%= @listing.wine_type.variety %>
  <%# <p><%= @listing.grape.grape_type %> 





<div class="show-edit-delete">
   <% if can? :edit, @listing %>
     <%= link_to "Edit", edit_listing_path(@listing.id) %>
     <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <% end %>
  <%= link_to "Back", listings_path %>
 </div>



