<!DOCTYPE html>
<html>
   <head>
     <title>Wine Exchange</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application' %>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag asset_path('wine-favicon.jpg') %>
   </head>

   <body>
   <%= render 'layouts/nav' %>
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     <%= yield %>
   </body>
 </html>

 